:root {
    --slate-white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

@font-face {
    font-family: "Outfit";
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: "YoungSerif";
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body {
    min-height: 100%;
    background-color: var(--stone-100);
}

main {
    min-height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: 'Outfit';
    color: var(--stone-600);
}

.card-hero {
    background-color: var(--slate-white);
    width: 40%;
    height: 100%;
    padding: 30px;
    margin-top: 40px;
    border-radius: 20px;
}

.img-omelette {
    border-radius: 10px;
    width: 100%;
}

.card-title {
    font-size: 40px;
    font-family: 'YoungSerif';
    margin-top: 30px;
    font-weight: 400;
    color: var(--stone-900);
    margin-bottom: 10px;
}

.card-short-desc {
    font-family: "Outfit";
    color: var(--stone-600);
    margin-bottom: 30px;
}

.card-prep-time {
    background-color: var(--rose-50);
    border-radius: 10px;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;   
}

.card-section {
    margin-top: 20px;
    border-bottom: 1px solid var(--stone-900);
}

.card-ingredients {
    padding-bottom: 20px;
}

.prep-section {
    font-family: 'Outfit';
}

.prep-list {
    margin-top: 10px;
}

.prep-section::marker {
    color: var(--rose-800);
}

.ingredients-section::marker {
    list-style-type: square;
    color: var(--brown-800);
}

.ingredients-text {
    padding-left: 20px;
}

.ingredients-list {
    padding-bottom: 10px;
}

.prep-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    color: var(--rose-800);
    font-weight: 600;
}

.prep-bold {
    font-weight: bold;
    margin-left: 20px;
}

.inst-bold {
    font-weight: bold;
}

.inst-block {
    margin-left: 20px;
    padding-bottom: 10px;
}

.title-not-h1 {
    font-size: 20px;
    font-family: 'YoungSerif';
    color: var(--brown-800);
    font-weight: 100;
}

.ol-inst {
    padding-left: 20px;
}

.inst-list::marker {
    color: var(--brown-800);
    font-weight: 600;
}

.nutrition-food {
    padding-right: 230px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nutrition-calory {
    font-weight: 600;
    width: 100%;
    color: var(--brown-800);
}

.nutrition-bottom {
    border-bottom: solid 1px;
}

footer {
    text-align: center;
    bottom: auto;
    padding-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .nutrition-food {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    .nutrition-calory {
        font-weight: 600;
        width: 100%;
        color: var(--brown-800);
        text-align: right;
    }

    .title-not-h1 {
        font-size: 20px;
        font-weight: 600;
    }

    .card-title {
        font-size: 30px;
    }

    .card-prep-time {
        background-color: var(--rose-50);
        border-radius: 10px;
        padding-left: 10px;
    }

    .prep-bold {
        margin-left: 0px;
    }

    .prep-section::marker {
        margin-right: 5px;
    }

    .ingredients-text {
        padding-left: 5px;
    }
}

.attribution { 
    font-size: 15px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}